requests==2.25.1
firebase_admin==5.2.0
opencv_python_headless==4.1.2.30
imutils==0.5.4
ntplib==0.4.0
easyocr==1.4.2
pyvirtualcam==0.9.1
mediapipe==0.8.9.1
numpy==1.22.3
undetected_chromedriver==3.1.5.post4
Pillow==9.1.0
protobuf==3.20.0
selenium==4.1.3
